@model IEnumerable<BaseDatosFisica.Models.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaNombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CategoriaID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CategoriaID })
        </td>
    </tr>
}

</table>
