@model BaseDatosFisica.Models.Respuesta

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Respuesta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pregunta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RespuestaID }) |
    @Html.ActionLink("Atras", "Index")
</p>
